if (typeof Event == 'undefined') Event = new Object();

/*
 * Registers function +fn+ will be executed when the dom 
 * tree is loaded without waiting for images. 
 * 
 * Example:
 *
 *  Event.domReady.add(function() {
 *    ...
 *  });
 *
 */
Event.domReady = {
  add: function(fn) {
    
    //-----------------------------------------------------------
    // Already loaded?
    //-----------------------------------------------------------
    if (Event.domReady.loaded) return fn();
    
    //-----------------------------------------------------------
    // Observers
    //-----------------------------------------------------------
    var observers = Event.domReady.observers;
    if (!observers) observers = Event.domReady.observers = [];
    // Array#push is not supported by Mac IE 5
    observers[observers.length] = fn;
    
    //-----------------------------------------------------------
    // domReady function
    //-----------------------------------------------------------
    if (Event.domReady.callback) return;
    Event.domReady.callback = function() {
      if (Event.domReady.loaded) return;
      
      Event.domReady.loaded = true;
      if (Event.domReady.timer) {
        clearInterval(Event.domReady.timer);
        Event.domReady.timer = null;
      }
      
      var observers = Event.domReady.observers;
      for (var i = 0, length = observers.length; i < length; i++) {
        var fn = observers[i];
        observers[i] = null;
        fn(); // make 'this' as window
      }
      Event.domReady.callback = Event.domReady.observers = null;
    };
    
    //-----------------------------------------------------------
    // Emulates 'onDOMContentLoaded'
    //-----------------------------------------------------------
    var ie = !!(window.attachEvent && !window.opera);
    var webkit = navigator.userAgent.indexOf('AppleWebKit/') > -1;
    
    if (document.readyState && webkit) {
      
      // Apple WebKit (Safari, OmniWeb, ...)
      Event.domReady.timer = setInterval(function() {
        var state = document.readyState;
        if (state == 'loaded' || state == 'complete') {
          Event.domReady.callback();
        }
      }, 50);
      
    } else if (document.readyState && ie) {
      
      // Windows IE 
      var src = (window.location.protocol == 'https:') ? '://0' : 'javascript:void(0)';
      document.write(
        '<script type="text/javascript" defer="defer" src="' + src + '" ' + 
        'onreadystatechange="if (this.readyState == \'complete\') Event.domReady.callback();"' + 
        '><\/script>');
      
    } else {
      
      if (window.addEventListener) {
        // for Mozilla browsers, Opera 9
        document.addEventListener("DOMContentLoaded", Event.domReady.callback, false);
        // Fail safe 
        window.addEventListener("load", Event.domReady.callback, false);
      } else if (window.attachEvent) {
        window.attachEvent('onload', Event.domReady.callback);
      } else {
        // Legacy browsers (e.g. Mac IE 5)
        var fn = window.onload;
        window.onload = function() {
          Event.domReady.callback();
          if (fn) fn();
        }
      }
      
    }
    
  }
}

Event.domReady.add(function() {
    <% if session[:cas_user].blank? %>
        <% unless Rails.env == "development" %>
            window.location.href = "http://p.xingcloud.com";
        <% end %>
    <% else %>
    var header  = document.createElement("div");
    header.className = "navbar navbar-fixed-top";
    
    header.innerHTML = "<div class='navbar-inner'>" 
                        + "<div class='container-fluid'>"
                            + "<a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>"
                                + "<span class='i-bar'></span>"
                                + "<span class='i-bar'></span>"
                                + "<span class='i-bar'></span>"
                            + "</a>"
                            + "<a class='brand' href='http://p.xingcloud.com'>XingCloud</a>"
                            + "<div class='container-fluid nav-collapse'>"
                                + "<ul class='nav'>"
                                    + "<li class='active'><a href='<%= root_url %>'>Analytics</a></li>"
                                    + "<li><a href='http://rrdsrv.xingcloud.com'>Cloud</a></li>"
                                + "</ul>"
                                + "<ul class='nav pull-right'>"
                                    + "<li class='divider-vertical'></li>"
                                    + "<li class='dropdown'>"
                                        + "<a href='#' class='dropdown-toggle' data-toggle='dropdown'><%= session[:cas_user] %><b class='caret'></b></a>"
                                        + "<ul class='dropdown-menu'>"
                                            + "<li><a href='/users/edit_current'>Change Password</a></li>"
                                            + "<li><a href='/users/sign_out' data-method='delete' rel='nofollow'>logout</a></li>"
                                        + "</ul>"
                                + "</ul>"
                            + "</div>"
                        + "</div>"
                    + "</div>";
    
    document.body.insertBefore(header, document.body.childNodes[0]);
    <% end %>
})