<div id="date-range-field">
    <span></span>
    <a href="#">&#9660;</a>
</div>
<div id="datepicker-container">
    <div id="datepicker-calendar"></div>
    <div id="datepicker-controls">
        <div class="datepicker-control">
            时间范围:&nbsp;
            <select id="choose-range">
                <option value="custom">自定义</option>
                <option value="today">今天</option>
                <option value="yesterday">昨天</option>
                <option value="last_week">最近一周</option>
                <option value="last_month">最近一月</option>
            </select>
        </div>
        <div id="date-control" class="datepicker-control date-input active">
            <input type="hidden" name="start_time" id="start_time" class="start" />
            <input type="hidden" name="end_time" id="end_time" class="end" />
            <input type="text" disabled="disabled" class="date"/>
        </div>
        <div class="datepicker-control checkbox">
            <input type="checkbox" name="compared" id="compared"/>
            &nbsp;与过去对比
        </div>
        <div id="compare-control" class="datepicker-control date-input active">
            <input type="hidden" name="compare_start_time" id="compare_start_time" class="start" />
            <input type="hidden" name="compare_end_time" id="compare_end_time" class="end" />
            <input type="text" disabled="disabled" class="date"/>
        </div>
        <div class="datepicker-control">
            <button class="btn btn-primary" id="datepicker-ok">确定</button>
            <button class="btn" id="datepicker-cancel">取消</button>
        </div>
    </div>
</div>