.well.sidebar-nav
  %h3 菜单
  %url.nav.nav-list
    %li
      %a{:href => admin_projects_path()}
        %i.icon-home
        项目列表
    %li
      %a{:href => "#/reports"}
        %i.icon-file
        通用报告管理
    %li
      %a{:href => "#/segments"}
        %i.icon-user
        通用用户群管理