.span2
  = render "admin/projects/left_nav"

.span10
  %h3 项目列表
  %hr
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %th 项目
      %th 标示符
    %tbody
      - @projects.each do |project|
        %tr
          %td= link_to project.name, project_path(project)
          %td= project.identifier
  = will_paginate @projects