.well
  - if menus.roots.blank?
    %p
      您还没有添加菜单，
      = link_to "请点击添加", project_menus_path(project)
  - menus.roots.each do |menu|
    %h4= menu.name
    %ul.nav.nav-list
      - menu.children.each do |sub_menu|
        %li{:class => @menu == sub_menu ? "active" : nil}
          = link_to sub_menu.name, project_menu_path(project, sub_menu)