.dropdown
  %a{:class => "dropdown-toggle btn", "data-toggle" => "dropdown", :href => "#"}
    操作
    %b.caret
  %ul{:class => "dropdown-menu"}
    %li
      %a{:href => "#/report_categories/edit/#{category.id}", "data-toggle" => "modal"}
        %i{:class => "icon-edit"}
        &nbsp;编辑
    %li
      %a{:href => "#/report_categories/shift_up/#{category.id}"}
        %i{:class => "icon-arrow-up"}
        &nbsp;向上
    %li
      %a{:href => "#/report_categories/shift_down/#{category.id}"}
        %i{:class => "icon-arrow-down"}
        &nbsp;向下
    %li
      %a{:href => "#/report_categories/delete/#{category.id}", "data-toggle" => "modal"}
        %i{:class => "icon-trash"}
        &nbsp;删除