- if content_for?(:sidebar)
  = yield :sidebar
- else
  .well.sidebar-nav
    %h3 菜单
    = tabs_tag :namespace => :sidebar, :builder => TabsOnRails::Bootstrap, :open_tabs => {:class => "nav nav-list"} do |tab|
      = tab.project '项目列表', admin_projects_path
      = tab.template_reports '通用报告管理',"#/reports"