.container
  .home
  - if APP_CONFIG[:admin].include?(session[:cas_user])
    .admin
      .row-fluid
        .span4
        .span4
          %a{:href => "/template/projects"}
            >>
            = t(:login_admin)
            <<
        .span4
:javascript
  I18n.defaultlocale = "en";
  I18n.locale = "#{I18n.locale}";
  projects = new Analytics.Collections.Projects();

= subscribe_to "/maintenance_plan"

:javascript
  PrivatePub.subscribe("/maintenance_plan", function(data, channel){
    $.pnotify({
      title: data.title,
      text: data.text,
      hide: false,
      sticker: false
    });
  });