:javascript
  PROJECT_IDENTIFIER = "#{@project.nil? ? nil : @project.identifier}";
  window.project = new Analytics.Models.Project(#{@project.js_attributes.to_json});
  window.projects_router = new Analytics.Routers.ProjectsRouter(project);
  window.reports_router = new Analytics.Routers.ReportsRouter(project, #{@project.reports.map(&:js_attributes).to_json}, #{@project.report_categories.map(&:js_attributes).to_json});
  window.report_categories_router = new Analytics.Routers.ReportCategoriesRouter(project);
  window.metrics_router = new Analytics.Routers.MetricsRouter(project);
  window.report_tabs_router = new Analytics.Routers.ReportTabsRouter(project);
  window.segments_router = new Analytics.Routers.SegmentsRouter(project);
  new Analytics.Views.Projects.ShowView({model: project}).render();
  Backbone.history.start();