.row-fluid.maintenance-plan-show
  .span4
  .span4.maintenance-plan-container
    %img{:src => "/assets/illustration_503.png"}
    %h1.houston
      Houston! We've got a problem here
    - if @maintenance_plan.present?
      %h3.service-unavailable
        服务器维护:
        %span.date
          = @maintenance_plan.begin_at.strftime("%H:%M %D")
        至
        %span.date
          = @maintenance_plan.end_at.strftime("%H:%M %D")
      %p.announcement
        - if @maintenance_plan.announcement.present?
          因为
          = @maintenance_plan.announcement
        服务暂不可用，请稍后访问，如有问题请洽
        %a{:href => "mailto:xa@xingcloud.com"}
          xa@xingcloud.com
    - else
      %p.announcement
        服务暂不可用，请稍后访问，如有问题请洽
        %a{:href => "mailto:xa@xingcloud.com"}
          xa@xingcloud.com
  .span4

