.well.metrics{:id => "type_line", :style => "float:left"}
  - @report.metrics.each do |metric|
    .metric_box
      .metric_picker
        .metric_display{"data-popup" => "width:1200px", :href => edit_project_metric_path(@project, metric)}
          = short_description(metric)
        .metric_container
      = image_tag("cleardot.gif", :class => "ly")
  .action-add{:"data-popup" => "width:1200px;", :href => new_project_metric_path(@project, :report_type => "line")}
    + 添加指标
    
:javascript
  var Metric = new function() {
    
  }
  
  $(function() {
    var metrics = #{@report.metrics.to_json}
  })