.left{
  float: left;
}
.right{
  float: right;
}

.navbar{
  .navbar-inner{
    .container{
      width:  auto;
      a.brand{
        width: 160px;
        text-align: center;
      }
      ul.nav{
        li.project-select{
          cursor: pointer;
          border-left: 2px solid #444;
          border-right:  2px solid #444;
          font-weight: bold;
          min-width: 160px;
          a.dropdown-toggle{
            font-size: 16px;
          }
          ul.dropdown-menu{
            width: 220px;
            li.project-search{
              border: 1px solid #CCC;
              margin: 0 5px 0 5px;
              input{
                border: 0;
                width: 170px;
                margin: 0;
              }
            }
            li.project-list{
              padding: 2px 10px 2px 5px;
              position: relative;
              overflow: auto;
              max-height: 250px;
              .projects-pending{
                text-align: center;
              }
              .projects-no-match{
                text-align: center;
              }
              .project{
                a{
                  display: block;
                  padding: 3px 10px;
                  clear: both;
                  font-weight: normal;
                  line-height: 20px;
                  color: #333333;
                  white-space: nowrap;
                }
              }
              .project.selected{
                a{
                  text-decoration: none;
                  color: #ffffff;
                  background-color: #0081c2;
                }
              }
            }
          }
        }
      }
    }
  }
}

.container-header{
  margin-bottom: 5px;
  .container-info{
    padding: 10px 0 0 10px;
    min-height: 18px;
  }
  .container-title{
    margin-right: 5px;
  }
  .btn-group{
    margin-left: 6px;
  }
}
.reports-nav{
  .nav-dashboard{
    a{
      padding: 8px 15px;
    }
  }
}
.range-control{
  cursor: pointer;
  border: 1px solid #CCC;
  border-radius: 5px 5px 5px 5px;
  padding: 0 !important;
  table{
    width: 100%;
    td{
      text-align: center;
      padding: 0px 2px 0px 2px;
    }
    td.toggle{
      background-color:#F7F7F7;
      width: 25px;
      span{
        color:#B2B2B2;
        text-align:center;
        padding-top: 10px;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.kpis{
  margin-bottom: 10px;
  padding-top: 5px;
  background: white;
  clear: both;
  padding: 0 5px 0 5px;
  position: relative;

  table {
    border-collapse: collapse;
    position: relative;
    width: 100%;
    td {
      border-bottom: 1px solid #DDD;
      border-right: 1px solid #DDD;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      .kpi-info{
        margin-bottom: -2px;
        padding: 10px;
        p.value{
          color: black;
          margin: 0px 0 5px 0;
          padding: 0;
          font-size: 130%;
          font-weight: bold;
        }

        p.vs{
          color: #666;
          display: inline;
          font-size: 80%;
          font-weight: bold;
        }

        p.lower{
          color: #932D22;
        }

        p.higher{
          color: #4B9525;
        }

        p.percent-label{
          color: #999;
          font-size: 80%;
          display: inline;
        }
        p.percent{
          color: #666;
          display: inline;
          font-size: 80%;
          font-weight: bold;
        }
        p.total{
          color: #999;
          display: inline;
          font-size: 80%;
          font-weight: bold;
        }
      }
      .kpi-info.deactive{
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
      }
    }

    td.metric-name{
      border-bottom: 0;
      position: relative;
      cursor: default;
      span{
        font: normal 18px Arial;
      }
      i{
        cursor: help;
        opacity: 0.4;
      }
    }

    td.length{
      border: 0px;
      padding: 5px;
      span{
        font: normal 14px Arial;
      }
    }

    td.segment-name{
      padding-right: 15px;
      text-align: left;
      width: 1px;
      white-space: nowrap;
    }

    td.last{
      border-right: 0px;
    }

    td.data-header{
      font-weight: bold;
      font-size: 130%;
    }

    td.name-header{
      font: normal 18px Arial;
    }

    tr.time td{
      line-height: 30px;
    }

    tr.time:nth-child(odd) td{
      background-color: #F9F9F9;
    }

    tr.time td:last-child{
      border-right: 0;
    }

  }
}

.kpi-dot{
  border: 5px solid white;
  border-radius: 5px;
  height: 0px;
  display: inline-block;
  width: 0px;
}

a.download-table{
    display:none;
    position:absolute;
    left:5px;
    top:3px;
    i{
	font-size:20px;
	color:#333;
    }
}

table{
  td.unavailable{
    color: #DDDDDD;
    font-size: 80%;
  }
}

.blockOverlay{
  background-color: #fff !important;
  filter:alpha(opacity=70) !important;
  -moz-opacity:0.7 !important;
  -khtml-opacity: 0.7 !important;
  opacity: 0.7 !important;
}

.blockMsg{
  border: 0 !important;
  background-color: transparent !important;
}

.timelines{
  .pending-message{
    display: none;
    z-index: 1000;
    border: none;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    opacity: 0.7;
    cursor: wait;
    position: absolute;
  }
}