.metric-box {
  margin-right: 10px;
  height: 35px;
}

@mixin metric-common{
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 16px;
  margin: 3px 10px 3px 0;
  padding: 3px 5px 5px 5px;
  text-align: center;
  width: 196px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

.metric-add {
  border: 1px dashed #7B98E8;
  background: #F2F6FF !important;
  color: #7B98E8 !important;
  @include metric-common;
}

.metric-display {
  border: 1px solid #51649E;
  color: white;
  white-space: nowrap;
  background-color: #8FACFC;
  float: left;
  @include metric-common;
}

.metric-remove {
  background: no-repeat url(/assets/sprites.png) -527px -173px;
  cursor: pointer;
  float: left;
  height: 12px;
  margin: 11px 0 0 -7px;
  width: 12px;
}
.metric-operation {
  cursor: pointer;
  margin: 8px 0 0 0px;
  opacity: 0.3;
}

.metrics-dropdown{
  width: 208px;
  .metric-search{
    border: 1px solid #CCC;
    margin: 0 5px 0 5px;
    input{
      border: 0;
      width: 165px;
    }
  }
  .metric-list{
    padding: 2px 10px 2px 5px;
    position: relative;
    overflow: auto;
  }
  .metric{
    border: 1px solid #2F67B4;
    background-color:  #C5DCFE;
    color: #2F67B4;
    margin: 1px 1px 1px 0;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    padding: 4px 3px 4px 5px;
  }
  .metric.selected{
    background-color: #6FAEFD;
    color: white;
  }
  .metric-new{
    cursor: pointer;
  }
}