// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.report-header{
  padding-bottom: 5px;
  .report-info{
    padding: 10px 0 0 10px;
    min-height: 18px;
  }
}