// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.action-add {
  border-collapse: collapse;
  border: 1px dashed;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: bold;
  height: 16px;
  margin: 3px 10px 3px 0;
  padding: 5px;
  text-align: center;
  width: 196px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  
  background: #F2F6FF;
  border-color: #7B98E8;
  color: #7B98E8;
  
  visibility: visible;
}

.action-add:hover {
  border: 1px dashed #7B9453;
}

@mixin google{
	border-collapse: collapse;
	text-align: left;
}

@mixin div_form {
	margin: 0;
	padding: 0;
	outline-style: none;
}

.metric_box {
  float: left;
  margin-right: 10px;

	@include div_form;
  @include google;
}

.ly {
  background: no-repeat url(/assets/sprites.png) -527px -173px;
  cursor: pointer;
  float: left;
  height: 12px;
  margin: 3px 1px;
  margin-left: -7px;
  margin-top: 11px;
  width: 12px;
	@include google;
}

.metric_picker {
	float: left;
	@include div_form;
}

.metric_container {
	background-color: white;
	border: 1px solid #B0B0B0;
	position: absolute;
	visibility: hidden;
	z-index: 10;
	
	@include div_form;
	@include google;
}

.metric_display {
	@include div_form;
	
	background: transparent url(/assets/menu_down_light.gif) no-repeat scroll 95% 50%;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	float: left;
	height: 26px;
	margin: 3px 10px 3px 0;
	padding: 0;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	white-space: nowrap;
	width: 206px;
	
	background-color: #8FACFC;
	border-color: #51649E;
    text-align: center;
}

.metric_label {
	@include div_form;
	
	margin: 5px 20px 5px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

#report-datepicker {
  position: relative;
  float: right;
}

#date-range-field {
  width: 250px;
  height: 26px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
}

#date-range-field a {
  color: #B2B2B2;
  background-color: #F7F7F7;
  text-align: center;
  display: block;
  position: absolute;
  width: 26px;
  height: 23px;
  top: 0;
  right: 0;
  text-decoration: none;
  padding-top: 6px;
  border-radius: 0 5px 5px 0;
}

#date-range-field span {
  font-size: 18px;
  color: #404040;
  position: relative;
  top: 0;
  height: 26px;
  line-height: 26px;
  left: 5px;
  width: 250px;
  text-align: center;
}

#datepicker-container {
  position: absolute;
  right: 0;
  z-index: 1000;
  width: 700px;
  height: 160px;
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  border-radius: 0 5px 5px 5px;
  display: none;
}

#datepicker-calendar{
  position: absolute;
  padding: 10px 0 0 10px;
}

#datepicker-calendar div.datepicker {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

#datepicker-controls{
  padding: 10px 0 0 0px;
  float: right;
  width: 180px;
  text-align: center;
}

#datepicker-controls .datepicker-control{
  float: left;
}

#datepicker-controls select{
  width: 100px;
  height: 22px;
}

#datepicker-controls input.date{
  width: 150px;
  height: 12px;
  cursor: pointer;
}

#datepicker-controls .date-input.active input.date{
  border: #07C solid 3px;
}

#datepicker-controls .datepicker-control.checkbox{
  padding-bottom: 4px;
}

#datepicker-controls #compare-control{
  display: none;
}

.btn-group .btn.rate{
  width: 40px;
}

#chart {
  height: 160px;
}