.report-tabs{
  padding-top: 5px;
}

.report-tab-controls{
  .dimensions-filters{
    table{
      td{
        padding-left: 5px;
        a{
          cursor: pointer;
        }
      }
    }
  }
}

.report-tab-range-picker{
  .range-control{
    min-width: 250px;
    table{
      width: 100%;
      td{
        height: 38px;
        div.compare-info{
          line-height: 12px;
        }
      }
    }
  }
  .dropdown-menu{
    min-width: 250px;
    li.range-datepicker{
      padding: 3px 15px;
      cursor: pointer;
      input{
        float: left;
      }
      label{
        padding-left: 5px;
        float: left;
      }
      span.range{
        border: 1px dashed #7B98E8;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 4px;
        margin: 0 4px 0 4px;
      }
      span.range:hover{
        background-color: #e6e6e6;
      }
    }
  }
  .modal{
    .modal-footer{
      a{
        cursor: pointer;
      }
    }
  }
}

.tab-container{
  .timelines{
    margin-bottom: 40px;
  }
  .blockOverlay{
    background-color: #fff !important;
    filter:alpha(opacity=70) !important;
    -moz-opacity:0.7 !important;
    -khtml-opacity: 0.7 !important;
    opacity: 0.7 !important;
  }
}

.datepicker-input{
  font-size: 16px;
  mouseover: cursor;
}

.custom-range, .report-form{
  .error{
    background-color: #FFEEEE;
  }
  .active.error{
    background-image:linear-gradient(to bottom, #ffffff, #D14);
  }
  .error-message{
    color: #D14;
  }
}

table.chart-tooltip{
  th{
    text-align: center;
    padding-right: 4px;
  }
  span.tooltip-dot{
    height: 0px;
    display: inline-block;
    width: 0px;
    border: 4px solid;
  }
  span.lower{
    color: #932D22;
  }

  span.higher{
    color: #4B9525;
  }
}
.control-panel{
  .sign-container{
    min-width: 30px;
  }
  .add-container{
    min-width: 60px;
  }
  .sign{
    margin-left: 5px;
    float: left;
  }
  .control-tags{
    li{
      list-style: none;
      float: left;
    }
    .control-tag{
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      background-color: #EEE;
      padding: 2px 2px 2px 4px;
      position: relative;
      line-height: 20px;
      margin: 0 3px 0 3px;
      .icon-remove-sign{
        cursor: pointer;
      }
    }
    float: left;
    margin: 0;
  }
  .add-tag{
    float: left;
    padding-left: 10px;
  }
}
