// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.report-header{
  padding-bottom: 5px;
  .report-info{
    padding: 10px 0 0 10px;
    min-height: 18px;
  }
}

.report-tabs{
  padding-top: 5px;
}

.report-tab-controls{
  .dimensions-filters{
    table{
      td{
        padding-left: 5px;
        a{
          cursor: pointer;
        }
      }
    }
  }
  .range-control{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 280px;
    min-height: 38px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 5px 5px 5px 5px;
    table{
      width: 260px;
      td{
        height: 38px;
        text-align: center;
        font-size: 10px;
        span{
          text-align: center;
        }
        div.info{
          line-height: 10px;
        }
      }

    }
    a{
      color:#B2B2B2;
      background-color:#F7F7F7;
      text-align:center;
      display: block;
      position: absolute;
      width: 25px;
      min-height: 36px;
      top: 0;
      right: 0;
      text-decoration: none;
      padding-top: 10px;
      border-radius: 0 5px 5px 0;
    }
  }
  .range-control-dropdown-menu{
    width: 295px;
    li.compare{
      padding: 3px 15px;
      input{
        float: left;
      }
      label{
        padding-left: 5px;
        cursor: pointer;
        float: left;
      }
      span.range{
        border: 1px dashed #7B98E8;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 4px;
        margin: 0 4px 0 4px;
      }
      span.range:hover{
        background-color: #e6e6e6;
      }
    }
  }
}

@mixin loading{
  background: #FFF1A8 -webkit-gradient(linear,left top,left bottom,from(#FFE090),to(#FFF2B0));
  background-color: #FFF1A8;
  color: black;
  left: 50%;
  padding: 3px 6px;
  position: fixed;
  top: 0;
  z-index: 10000;
  padding: 3px 16px;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  box-shadow: rgba(0,0,0,0.246094) 0px -3px 5px,rgba(0,0,0,0.246094) 0px 3px 5px;
  -moz-box-shadow: rgba(0,0,0,0.246094) 0px -3px 5px,rgba(0,0,0,0.246094) 0px 3px 5px;
  -webkit-box-shadow: rgba(0,0,0,0.246094) 0px -3px 5px,rgba(0,0,0,0.246094) 0px 3px 5px;

}

#loading-message{
  @include loading;
}

.action-add {
  border-collapse: collapse;
  border: 1px dashed;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 16px;
  margin: 3px 10px 3px 0;
  padding: 5px;
  text-align: center;
  width: 196px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  
  background: #F2F6FF;
  border-color: #7B98E8;
  color: #7B98E8;
  
  visibility: visible;
}

.action-add:hover {
  border: 1px dashed #7B9453;
}

@mixin google{
	border-collapse: collapse;
	text-align: left;
}

@mixin div_form {
	margin: 0;
	padding: 0;
	outline-style: none;
}

.metric_box {
  margin-right: 10px;
  height: 35px;

  @include div_form;
  @include google;
}

.ly {
  background: no-repeat url(/assets/sprites.png) -527px -173px;
  cursor: pointer;
  float: left;
  height: 12px;
  margin: 3px 1px;
  margin-left: -7px;
  margin-top: 11px;
  width: 12px;
	@include google;
}

.metric_picker {
	@include div_form;
}

.metric_container {
	background-color: white;
	border: 1px solid #B0B0B0;
	position: absolute;
	visibility: hidden;
	z-index: 10;
	
	@include div_form;
	@include google;
}

.metric_display {
	@include div_form;
	
	background: transparent url(/assets/menu_down_light.gif) no-repeat scroll 95% 50%;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	float: left;
	height: 26px;
	margin: 3px 10px 3px 0;
	padding: 0;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	white-space: nowrap;
	width: 206px;
	
	background-color: #8FACFC;
	border-color: #51649E;
    text-align: center;
}

.metric_label {
	@include div_form;
	
	margin: 5px 20px 5px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.datepicker-input{
  font-size: 16px;
  mouseover: cursor;
}


#chart {
  height: 240px;
  width: 100%;
}




//dimension css follow
.dimension_add {
  border-collapse: collapse;
  border: 1px dashed;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: bold;
  height: 16px;
  margin: 3px 10px 3px 0;
  padding: 5px;
  text-align: center;
  width: 196px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;

  background: #F2F6FF;
  border-color: #7B98E8;
  color: #7B98E8;

  visibility: visible;
}


.dimension_display {

  background: transparent url(/assets/menu_down_light.gif) no-repeat scroll 95% 50%;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  float: left;
  height: 26px;
  margin: 3px 10px 3px 0;
  padding: 0;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  white-space: nowrap;
  width: 206px;

  background-color: RGB(157,182,117);
  border-color: #51649E;
  text-align: center;
}

.dimension_del {
  background: no-repeat url(/assets/sprites.png) -527px -173px;
  cursor: pointer;
  float: left;
  height: 12px;
  margin: 3px 1px;
  margin-left: -7px;
  margin-top: 11px;
  width: 12px;
  @include google;
}
.dimension_picker {
  float: left;
  width: 224px;
  @include div_form;
}

.dimension_select{

  float: left;
  height: 26px;

  width: 206px;

  background-color: RGB(157,182,117);
  border-color: #51649E;
  text-align: center;
}
.chzn-container{
  background: transparent url(/assets/menu_down_light.gif) no-repeat scroll 95% 50%;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px;
  cursor: pointer;
  font-weight: bold;
  float: left;
  height: 26px;
  margin: 3px 10px 3px 0;
  padding: 0;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  white-space: nowrap;
  width: 206px;
}

.legend{
  margin-bottom: 10px;
  padding-top: 5px;
  background: white;
  clear: both;
  padding: 0 5px 0 5px;
  position: relative;

  table {
    border-collapse: collapse;
    position: relative;
    width: 100%;

    td {
      border-bottom: 1px solid #DDD;
      border-right: 1px solid #DDD;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      .legend-info-container{
        margin-bottom: -2px;
        padding: 10px;
        p.value{
          color: black;
          margin: 0px 0 5px 0;
          padding: 0;
          font-size: 130%;
          font-weight: bold;
        }

        p.vs{
          color: #666;
          display: inline;
          font-size: 80%;
          font-weight: bold;
        }

        p.lower{
          color: #932D22;
        }

        p.higher{
          color: #4B9525;
        }

        p.percent-label{
          color: #999;
          font-size: 80%;
          display: inline;
        }
        p.percent{
          color: #666;
          display: inline;
          font-size: 80%;
          font-weight: bold;
        }
        p.total{
          color: #999;
          display: inline;
          font-size: 80%;
          font-weight: bold;
        }
      }
      .legend-info-container.deactive{
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
      }
    }

    td.metric-name{
      border-bottom: 0;
      span{
        font: normal 18px Arial;
      }
    }

    td.legend-name{
      padding-right: 15px;
      text-align: left;
      width: 1px;
      white-space: nowrap;
    }

    td.last{
      border-right: 0px;
    }

  }
}

.legend-dot{
  border: 5px solid white;
  border-radius: 5px;
  height: 0px;
  display: inline-block;
  width: 0px;
}

.dimension-item{
  margin-bottom: 5px;
}

.dimension-remove {
  background: no-repeat url(/assets/sprites.png) -527px -173px;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.dimension-add {
  border-collapse: collapse;
  border: 1px dashed;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 16px;
  margin: 3px 10px 3px 0;
  padding: 5px;
  text-align: center;
  width: 196px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;

  background: #F4FFE6;
  border-color: #9DB675;
  color: #93AC6B;

  visibility: visible;
}

.dimensions{
  padding: 10px 10px 0px 10px;
  .blockOverlay{
    background-color: #fff !important;
    filter:alpha(opacity=60) !important;
    -moz-opacity:0.6 !important;
    -khtml-opacity: 0.6 !important;
    opacity: 0.6 !important;
  }
}

.dimensions-list{
  table{
    td{
      padding-right: 5px;
      a{
        cursor: pointer;
      }
    }
  }
}

.dimensions-table{
  margin-top: 10px;
  td{

  }
  td.no-data{
    text-align: center;
  }
  td.no-dimension{
    text-align: center;
    div.add-dimension-controls{
      margin-top: 10px;
      select{
        margin-bottom: 0px !important;
      }
    }
  }
  td a.dimension-value{
    cursor: pointer;
  }
  th{
    text-align: center !important;
    cursor: pointer;
  }
  th.DESC{
    background: transparent url(/assets/sort_desc.gif) no-repeat scroll right center;
  }
  th.ASC{
    background: transparent url(/assets/sort_asc.gif) no-repeat scroll right center;
  }
  th:hover {
    background-color: #F3F3F3;
    background-image: -webkit-linear-gradient(top,#FAFAFA,#E9E9E9);
    background-image: -moz-linear-gradient(top,#FAFAFA,#E9E9E9);
    box-shadow: inset 0px 1px 5px rgba(0,0,0,.2);
  }
  tr:nth-child(odd) td.orderby{
    background-color: #EAEAEA;
  }
  tr:nth-child(even) td.orderby{
    background-color: #F3F3F3;
  }
}

.dimensions-controls{
  select.pagesize{
    width: 60px;
  }
  ul.pager{
    a.disabled{
      color: #999;
      cursor: default;
      background-color: transparent;
    }
    a{
      cursor: pointer;
    }
  }
}