.segments-container{
    height: 200px;
    overflow: auto;
    border: 1px solid #999;
    margin-top: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
}
.segments-controls{
    margin-top: 5px;
}

.segments-controls button{
    margin-right: 5px;
}

.segment-form{
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.expression-add{
    border: 1px solid #CCC;
    background-color: #EFEFEF;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 0 10px 10px;
}

.expression-add span{
    color: #005C9C;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.expression-form{
    border: 1px solid #CCC;
    padding: 10px;
    background-color: #EFEFEF;
    border-radius: 5px 5px 5px 5px;
}

.expression-form-inner{
    border: 1px solid #CCC;
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
    padding: 10px 0 10px 10px;
    background-color: white;
}

.expression-form-inner select{
    margin-right: 5px;
}

.expression-form-remove {
    background-color: #EFEFEF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    float: right;
    margin: -22px 20px 0 0;
    padding: 2px 5px;
    position: absolute;
    right: 50px;
    text-align: center;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

.expression-form-remove span{
    cursor: pointer;
}

.expression-form-and{
    background-color: #EFEFEF;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 80px;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 5px 0;
    width: 100px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    position: relative;
    text-align: center;
}