<a href="#report_tab<%= model.get('index')%>" data-toggle="tab">
    <i class="remove_tab icon-remove-sign close" onclick="javascript:report_tabs_view.removeOne(<%= model.get('index')%>)"></i>
    <%= (model.get('title') == undefined) ? "报告标签" : model.get('title') %> &nbsp;
</a>