- javascript "jquery.chosen"


- Report.subclasses.each do |subclass|
  .well.metrics{:id => "type_#{subclass.name.parameterize}", :style => "float:left"}
    - @report.metrics.each do |metric|
      .metric_box
        .metric_picker
          .metric_display{"data-popup" => "width:1200px", :href => edit_project_report_metric_path(@project, @report, metric)}
            = short_description(metric)
          .metric_container
        = image_tag("cleardot.gif", :class => "ly")
    .action-add{:"data-popup" => "width:1200px;", :href => new_project_report_metric_path(@project, @report, :type => subclass.name)} + 添加指标
    